hr.style-one{/*渐变*/
width:100%;
margin:0 auto;
border: 0;
height: 1px;
background: #800080;
background-image: linear-gradient(to right, #ddd, #bbb, #100);
}
.left {float: left;width:60%;height:500px;}
.right {float: right; width:40%;height:500px;}
.item_title{
    color:#800080;
    font-size: 16px;
}
.item_header{
    color:black;
    font-size: 25px;
}
 #filters{
            padding-left:25px;
}
#filters .date{            
    text-align: center;javascript:void(0);
    float:left;
    border: 1px solid #e7e7e7;
}
#filters .date{
    width:20%;
}
#filters .date-1017{ 
    width:40%;
}

#filters .date-active{            
    background:#fffcea;
    border:1px solid #a0468c;
}
#filters .date-month {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    color:#888;
}
#filters .date-active .date-month{            
    color:#a0468c;
}

#filters .date-month span{
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}
#filters .date-year {            
    background-color: #fafafa;
    color: #d5d5d5;
    height: 30px;
    line-height: 30px;
    font-size:14px;
}
#filters .date-active .date-year {            
    color:#fff;
    background-color:#a0468c;
}
#container .item{
    transition: 2s;
    -moz-transition: 2s; /* Firefox 4 */
    -webkit-transition: 2s; /* Safari and Chrome */
    -o-transition: 2s; /* Opera */
}
div.vlist .vcard {
    padding-top: 1.5em;
    position: relative;
    display: block;
}
div.vlist .vcard .vhead {
    line-height: 1.5;
    margin-top: 0;
}
div.vlist .vcard .vimg {
    width: 3.125em;
    height: 3.125em;
    float: left;
    border-radius: 100%;
    margin-right: .7525em;
    border: 1px solid #f5f5f5;
    padding: .125em;
}
div.vlist .vcard .vhead .vnick {
    position: relative;
    font-size: .875em;
    font-weight: 500;
    margin-right: .875em;
    cursor: pointer;
    color: #1abc9c;
    text-decoration: none;
    display: inline-block;
}
div.vlist .vcard .vhead .vsys {
    display: inline-block;
    padding: .2em .5em;
    background: #ededed;
    color: #b3b1b1;
    font-size: .75em;
    border-radius: .2em;
    margin-right: .3em;
}
div.vlist .vcard .vhead .vsys {
    display: inline-block;
    padding: .2em .5em;
    background: #ededed;
    color: #b3b1b1;
    font-size: .75em;
    border-radius: .2em;
    margin-right: .3em;
}
div.vlist .vcard .vh .vmeta {
    line-height: 1;
    position: relative;
}
div.vlist .vcard .vcontent {
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    color: #4a4a4a;
    font-size: 15px;
    line-height: 2;
    position: relative;
}
div.vlist .vcard .vh .vmeta .vat {
    font-size: .8125em;
    color: #ef2f11;
    cursor: pointer;
    float: right;
}
div.bubble{    
    position: relative;    
    padding: 0.75em;    
    color: #ffffff;    
    font-size: 0.9em;    
    line-height: 1.3em;    
    text-align: left;    
    border-radius: 0.5em;    
    margin-left: 3.6em;    
    margin-top: 1.2em;    
    margin-bottom: 1.2em;    
    margin-right: 5.2em;    
    background-color: rgb(246,222,252);    
    height: 4em;
}
div.bubble:after {    
    content: '';    
    position: absolute;    
    width: 0;    
    height: 0;    
    border: 15px solid rgba(0, 0, 0, 0);    
    border-left-width: 0;
}
div.bubble-left:after {    
    border-right-color: #60d8ce;    
    top: 0%;    
    right: 100%;    
    margin-top: 0.9em;    
    border-left-width: 0.0em;    
    border-right-width: 0.6em;    
    border-bottom-width: 0.4em;    
    border-top-width: 0.4em;
}